.container {
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 7.5vh;
  border: 3px solid black;
  margin: auto;
  border-radius: 9px;
}

.container span {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
